/* font for webpage */
body {
    font-family: Diastema Regular;
}

/* text centered */
.centered {
    text-align: center;
}

/* flexboxes for diff parts of the vis */
.visualization {
    max-height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* inactive class for filtering data
makes the points grey */
.bf-inactive {
    fill: grey !important;
    stroke: none;
    opacity: 0.3 !important;
}

.ufo-inactive {
    fill: grey !important;
    stroke: none;
    opacity: 0.3 !important;
}


.bar-bf-inactive {
    fill: grey !important;
    stroke: none;
    opacity: 0.0 !important;
}

.bar-ufo-inactive {
    fill: grey !important;
    stroke: none;
    opacity: 0.0 !important;
}

/* legend setup */
#legend {
    height: 150px;
    border: 2px solid black;
    margin: 10px;
    margin-top: 130px;
}

/* setup for the map and vis1 */
#map {
    max-width: 75%;
    width: 750px;
    height: 450px;
}

#vis1 {
    max-width: 25%;
    width: 750px;
    height: 450px;
    align-items: center;
}

/* active, class for filtering points
high opacity, colored */
.bf-active {
    fill: orange !important;
    stroke: none !important;
    fill-opacity: 0.5 !important;
}

.ufo-active {
    fill: steelblue;
    stroke: none;
    fill-opacity: 0.5;
}

.bar-bf-active {
    fill: orange !important;
    stroke: none !important;
    fill-opacity: 1 !important;
}

.bar-ufo-active {
    fill: steelblue;
    stroke: none;
    fill-opacity: 1;
}

.rect{
    fill: black;
}

/* scroll box */
#scroll-box{
    height:300px;
    width:400px;
    max-width: 25%;
    margin: 50px;
    padding: 20px;
    border:1px solid #ccc;
    font:24px Diastema Regular;
    overflow:auto;
}

.tooltip{
    position: absolute;
}