body {
    font-family: Diastema Regular;
}

h1 {
    text-align: center;
}

/* flexboxes for diff parts of the vis */
.visualization {
    display:flex;
}

#legend {
    width: 10%;
}
#map {
    width: 750px;
    height: 450px;
}

.bf-coords {
    fill: orange;
    stroke: none;
    fill-opacity: 0.5;
}

.ufo-coords {
    fill: steelblue;
    stroke: none;
    fill-opacity: 0.5;
}