body {
    font-family: Diastema Regular;
}

h1 {
    text-align: center;
}

/* flexboxes for diff parts of the vis */
.visualization {
    display:flex;
}

#legend {
    width: 10%;
}
#map {
    background-image: url(usmap.gif);
    background-repeat: no-repeat;
}


.bf-coords {
    fill: orange;
    opacity: .7;
}

.ufo-coords {
    fill: silver;
    opacity: .7;
}