body {
    font-family: Diastema Regular;
}

h1 {
    text-align: center;
}

/* flexboxes for diff parts of the vis */
.visualization {
    max-height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: left;
}

#map {
    max-width: 75%;
    width: 750px;
    height: 450px;
}

#vis1 {
    max-width: 25%;
    width: 750px;
    height: 450px;
}

.bf-coords {
    fill: orange;
    stroke: none;
    fill-opacity: 0.5;
}

.ufo-coords {
    fill: steelblue;
    stroke: none;
    fill-opacity: 0.5;
}

.rect{
    fill: black;
}