body {
    font-family: Diastema Regular;
}

h1 {
    text-align: center;
}



#map {
    background-image: url(usmap.gif);
    background-repeat: no-repeat;
}


.bf-coords {
    fill: orange;
    opacity: .7;
}

.ufo-coords {
    fill: silver;
    opacity: .7;
}